.app-title {
    float: left;
  }
  .head-search {
    float: left;
    margin-left: 2%;
  }
  
  .province-select {
    width: 190px;
  }

  .distrit-select {
    width: 190px;
  }

  .app-title a {
    text-decoration: none;
    font-size: 21px;
    display: inline-block;
    margin-top: -10px;
  }
  
  .app-title a:hover {
    text-decoration: none;
  }
  
  .app-header {
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 8px #f0f1f2;
    z-index: 10;
    padding: 0;
  }
  
  .app-menu {
    float: right;
    height: 66px;
    margin-top: -5px;
  }
  
  .app-menu > li {
    padding: 0 20px;
  }

  .app-menu > li > a {
    padding: 0 20px;
    margin: 0 -20px;
  }

  .app-menu > li > a > i {
    margin-right: 0 !important;
  }

  .profile-dropdown-menu {
    /* width: 50px; */
    word-wrap: break-word;
    width: 180px;
  }

  .profile-menu .user-full-name-info {
    font-size: 17px;
    font-weight: 600;
    color: rgba(0,0,0,0.85);
  }
  
  .profile-menu .username-info {
    font-size: 14px;
    color: rgba(0,0,0,0.65);
  }

  .dropdown-item {
    padding: 10px 12px;
  }

  .dropdown-item a {
    color: #0f4f8a;
   
    padding: 10px 12px;
    margin: -10px -12px;
  }
  
  .nav-icon {
    font-size: 20px;
  }

  .poll-icon {
    margin-top: -4px;
  }

@media (max-width: 768px) {
  
  .province-select {
    width: 130px;
  }

  .distrit-select {
    width: 130px;
  }

  .app-title a {
    font-size: 20px;
  }
  .head-search {
    display: none;
  }
  .app-menu > li {
    padding: 0 8px;
  }

  .app-menu > li > a {
    padding: 0 14px;
    margin: 0 -15px;
  }
}  

.tooltip-icon .tooltiptext {
  visibility: hidden;
  color: #1890ff;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.app-menu .ant-menu-item:hover .tooltip-icon .tooltiptext {
  visibility: visible;
  top: 43px;
  left: 0%;
}

.tooltiptext {
  height: 21px;
  font-size: 12px;
  text-shadow: 1px 1px #1890ff;

}

.undefined-item {
  word-wrap: break-word;
}